[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/merijng/hugo-theme-terminal.git
